<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-phrase">{% include translate.html key='intro-phrase' %}</div>
            	<a href="https://twitter.com/search?q=ies%20pedro%20cerrada&src=typd" target="_blank">
                <div class="intro-tag">#IESPedroCerrada</div>
		<br>
	 	<a href="https://crdguez.github.io/mat1bacweb/" target="_blank">
                <div class="intro-tag">enlace a la web de 1º bachillerato</div>
            </a>
        </div>
    </div>
</header>
